@import "../../variables.scss";

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

button.button {
  &.btn-custom {
    width: 4.2rem;
  }
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: $headerFont;

  &.btn-custom {
    width: 12rem;
    height: auto;

    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $colorDark;
      border-radius: 1.625rem;

      &.light {
        background: $colorGray;
      }

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $colorWhite;

        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;

          &::before {
            position: absolute;
            content: "";
            top: -0.3rem;
            right: 0.0645rem;
            width: 0.645rem;
            height: 0.625rem;
            border-top: 0.125rem solid $colorWhite;
            border-right: 0.125rem solid $colorWhite;
            transform: rotate(45deg);
          }
        }
      }
    }

    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: inherit;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &:hover,
  &:focus,
  &.--hover {
    .circle {
      width: 100%;

      &.light {
        background: $colorPrimaryLight;
      }

      .icon {
        &.arrow {
          background: $colorWhite;
          transform: translate(1rem, 0);
        }
      }
    }

    .button-text {
      color: $colorWhite;
    }
  }
}

@media only screen and (max-width: 500px) {
  .button {
    width: 100%;
    &.btn-custom {
      margin: 0;
      padding: 0;
      width: 40%;
    }
    .button-text {
      margin: 0 0 0 2.5rem;
    }
  }
}
