@import '../../variables.scss';

.card {
    display: flex;
    height: 100%;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 15px -15px 0px 0px $colorLight;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-image: url('../../assets/images/screenshots/backgrounds/dark.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:hover, &:focus {
        transform: translateY(-20px);
        box-shadow: 15px 15px 0px 0px $colorPrimaryLight;

        .card__image-container {
            img {
                top: 100%;
                left: 55%;
                filter: drop-shadow(0px 20px 60px $textShadowColor) grayscale(0%);
                
                &.--mobile {
                    top: 140%;
                }
            }
        }
        
        .card__content {
            .card__title {
                transform: translateX(-5px);
                font-size: 1.8rem;
            }
            .card__info {
                .card__info-text {
                    opacity: 1;
                }

                /*button.card__info-btn {
                    background-color: $colorPrimaryLight;
                    color:  $colorGrayLight;
                }*/
            }
        }
    }

    .card__image-container {
        padding-top: 56.25%;
        overflow: hidden;
        position: relative;

        img {
            width: 75%;
            position: absolute;
            z-index: -1;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: bottom;
            transition: all 0.3s ease-in-out 0s;
            filter: drop-shadow(0px 20px 40px $textShadowColor) grayscale(30%);

            &.--mobile {
                width: 50%;
                top: 110%;
            }
        }
    }

    .card__content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        
        .card__title {
            font-family: $headerFont;
            color: $colorWhite;
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: 20px;
            line-height: 1.2;
            letter-spacing: 0.02rem;
            transition: all 0.3s ease-in-out 0s;
        }
        
        .card__info {
            display: flex;
            align-items: center;

            .card__info-text {
                opacity: 0;
                color: $colorGrayLight;
                font-family: $bodyFont;
                font-weight: 300;
                line-height: 1rem;
                font-size: 1.4rem;
                transition: all 0.3s ease-in-out 0s;
            }
                    
            .card__info-btn {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                margin: 10px;
                background-color: transparent;
                color:  $colorPrimaryLight;
                border: none;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .card {
        &:hover, &:focus {            
            .card__content {
                .card__title {
                    font-size: 1.4rem;
                }
            }
        }

        .card__content {
            .card__title {
                font-size: 1.2rem;
                margin-bottom: 0.2rem;
                letter-spacing: normal;
            }

            .card__info {
                .card__info-text {
                    font-weight: 400;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .card {
        grid-column-end: span 1;

        &:hover, &:focus {            
            .card__content {
                .card__title {
                    font-size: 1.8rem;
                }
            }
        }

        .card__content {
            .card__title {
                font-size: 1.6rem;
                margin-bottom: 1rem;
                letter-spacing: 0.2rem;
            }

            .card__info {
                .card__info-text {
                    font-weight: 300;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .card {
        grid-column-end: span 1;

        &:hover, &:focus {            
            .card__content {
                .card__title {
                    font-size: 1.4rem;
                }
            }
        }

        .card__content {
            .card__title {
                font-size: 1.2rem;
                margin-bottom: 0.2rem;
                letter-spacing: normal;
            }

            .card__info {
                .card__info-text {
                    font-weight: 400;
                }
            }
        }
    }
}
