$headerFont: 'Montserrat', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

$colorPrimary: #081EFC;
$colorSecondary: #1533BC;
$colorPrimaryDark: #101451;
$colorPrimaryLight: #3366ff;
$colorWhite: #F6F7F8;
$colorDark: #222636;
$colorLight: #A1A9CF;
$colorBlack: #010102;
$colorGray: #A4ACCE;
$colorGrayDark: darken( $colorGray, 20% );
$colorGrayLight: #E6E9F6;
$colorGreen: #70AB73;
$colorRed: #D92303;
$colorOrange: #F95A0C;
$colorYellow: #EAB331;
$colorPink: #FF6666;
$colorTeal: #46ABEE;


$textShadowColor: rgba(0, 0, 0, 0.2);